body {
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
}

a {
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px grey;
}

#topMenu {
  color: white;
  padding-bottom: 15px;
}

#centerText {
  color: white;
  height: 500px;
}

#bottomMenu {
  background-color: black;
  color: lightsteelblue;
  height: 200px;
}

div.nav-item.nav-link {
  color: white;
}

.nav-item {
  padding: 20px 20px 20px 20px;
}

.nav-item:not(:last-child) {
  border-right: 1px solid lightgrey;
}